.venv
*.pyc
tests/output
*.tar.gz
child-pipeline-gitlab-ci.yml

# integration_config.yml contains connection info for the
# developer instance, including credentials
tests/integration/integration_config.yml
tests/integration/inventory

docs/build
docs/source/modules
