# This ansible.cfg is used only for local testing during development.
# It should not be included into final collection.
[defaults]
stdout_callback     = community.general.yaml
retry_files_enabled = False
forks               = 16
collections_paths = ../../../
