---
# ansible-test integration_config.yml
# This file is jinja2 template for github CI.
# It will be rendered to plain yml before ansible uses it.
# For CI testing we have:
# - real hardware nodes
# - virtual nodes (VSNS)

# Select SC_HOST to be used
# sc_host: https://10.5.11.50

sc_timeout: 60.0
smb_server: "{{ smb_server }}"
smb_share: "{{ smb_share }}"
smb_username: "{{ smb_username }}"
smb_password: "{{ smb_password }}"

__base_smtp: &base_smtp
  host: smtp-relay.gmail.com
  port: 25
  use_ssl: false
  # from_address: PUB5@scalecomputing.com
  use_auth: false
  auth_user: ""
  auth_password: ""


# sc_config is specific for each test cluster
# The values should be set after tests, to ensure cluster is left in functional state.
sc_config:

  base_cfg: &base_cfg
    # desired configuration after tests are done
    time_server:
      source: pool.ntp.org
    time_zone:
      zone: US/Eastern
    dns_config:
      dns_servers:
        - 1.1.1.1
        - 1.0.0.1
      search_domains: []
    registration:
      company_name: Scale Computing
      contact: Alex Nicholson
      email: email_hidden@scalecomputing.com
      phone: "123 456 7890"
    # smtp: ...
    email_alert:
      - email_hidden@scalecomputing.com
    oidc:
      client_id_default: "{{ oidc_client_id }}"
      shared_secret_default: "{{ oidc_client_secret }}"
      config_url_default: https://login.microsoftonline.com/76d4c62a-a9ca-4dc2-9187-e2cc4d9abe7f/v2.0/.well-known/openid-configuration
      scopes: "openid+profile"
      client_id_test: ci-client-id
      shared_secret_test: ci-client-secret
      config_url_test: https://login.microsoftonline.com/76d4c62a-a9ca-4dc2-9187-e2cc4d9abe7f/v2.0/.well-known/openid-configuration
    cluster_shutdown:
      magic_allow_string: "oh-no-no"  # use "allow-cluster-shutdown-test" to allow this integration test
    version_update:
      magic_allow_string: "oh-no-no"  # use "allow-version-update-test" to allow this integration test
    syslog_server:
      host: 10.5.11.222

  https://10.5.11.50:
    <<: *base_cfg
    sc_username: "{{ sc_username_50 }}"
    sc_password: "{{ sc_password_50 }}"
    # Only .50 is configured with remote replication.
    # Set sc_replication_dest_host/username/password to "" to signal no replication is configured.
    sc_replication_dest_host: https://10.5.11.60
    # We have same username on .50 and .60 node.
    sc_replication_dest_username: "{{ sc_username_50 }}"
    sc_replication_dest_password: "{{ sc_password_50 }}"
    # desired configuration after tests are done
    cluster:
      name: PUB5
    support_tunnel:
      open: true
      code: "4422"
    smtp:
      <<: *base_smtp
      from_address: PUB5@scalecomputing.com
    # Under features are described properties that affect expected integration test output.
    features:
      version_update:
        # Current SW (ICOS) version running on the host.
        current_version: "9.2.13.211102"
        # The next version available update for the host.
        next_version: ""
        # The latest version available update for the host.
        latest_version: ""
        # Can we update the host? VSNS hosts report update as available,
        # but if we try to update, the update fails (unsupported HW is reported back).
        can_be_applied: True
        # If the cluster was updated before, then we can access
        # https://IP/update/update_status.json (version_update_status_info module).
        old_update_status_present: True
      virtual_disk:
        # Virtual disk feature is supported iff version ">=9.2.10"
        is_supported: True
        # expected virtual disk replucation factor
        replication_factor: 2
      cluster_name:
        # cluster name can be changed iff version ">=9.1.21 <9.2.0 || >=9.2.11"
        is_writable: True

  https://10.5.11.200:
    <<: *base_cfg
    sc_username: admin
    sc_password: admin
    sc_replication_dest_host: ""
    sc_replication_dest_username: ""
    sc_replication_dest_password: ""
    cluster:
      name: "HC3 System"  # VSNS200
    support_tunnel:
      open: true
      code: "4423"
    smtp:
      <<: *base_smtp
      from_address: VSNS200@scalecomputing.com
    syslog_server:
      host: 10.5.11.222
    features:
      version_update:
        current_version: "9.1.14.208456"
        next_version: "9.1.24.211326"
        latest_version: "9.1.24.211326"
        can_be_applied: False
        # We can try update, update will fail, and status.json will be present.
        old_update_status_present: True
      virtual_disk:
        is_supported: False
        # replication_factor:
      cluster_name:
        is_writable: False

  https://10.5.11.201:
    <<: *base_cfg
    sc_username: admin
    sc_password: admin
    sc_replication_dest_host: ""
    sc_replication_dest_username: ""
    sc_replication_dest_password: ""
    cluster:
      name: VSNS201
    support_tunnel:
      open: true
      code: "4424"
    smtp:
      <<: *base_smtp
      from_address: VSNS201@scalecomputing.com
    syslog_server:
      host: 10.5.11.222
    features:
      version_update:
        current_version: "9.2.13.211102"
        next_version: ""
        latest_version: ""
        can_be_applied: False
        old_update_status_present: False
      virtual_disk:
        is_supported: True
        replication_factor: 1
      cluster_name:
        is_writable: True
