# Replace the values to suit you CI environment
sc_host: <your_host, example https://10.0.0.2>
sc_username: <your_user>
sc_password: <your_password>
# Seems on loaded API higher timeout is needed
sc_timeout: 60
# CI tests for vm_import/vm_export require a SMB server
smb_server: <example 10.0.0.3>
smb_share: <example /users>
smb_username: <example myusername>
smb_password: <example mypassword>
# Replication cluster needs to be cleaned up.
sc_replication_dest_host: <your_host, example https://10.0.0.4>
sc_replication_dest_username: <your_user4>
sc_replication_dest_password: <your_password4>

# sc_config is specific for each test cluster
# The values should be set after tests, to ensure cluster is left in functional state.
sc_config:
  base_cfg: &base_cfg
    time_server:
      source: pool.ntp.org
    time_zone:
      zone: US/Eastern
    dns_config:
      dns_servers:
        - 1.1.1.1
        - 1.0.0.1
      search_domains: []
    registration:
      company_name: Scale Computing
      contact: <firstname secondname>
      email: someone@scalecomputing.com
      phone: "123 456 7890"
    cluster_shutdown:
      magic_allow_string: "oh-no-no"  # use "allow-cluster-shutdown-test" to allow this integration test
    version_update:
      magic_allow_string: "oh-no-no"  # use "allow-version-update-test" to allow this integration test
    syslog_server:
      host: 1.2.3.4
  <sc_host>:
    <<: *base_cfg
    cluster:
      name: PUBx
    support_tunnel:
      open: true
      code: "4422"
    smtp:
      host: smtp-relay.gmail.com
      port: 25
      use_ssl: false
      from_address: PUBx@scalecomputing.com
      auth_user: ""
      auth_password: ""
    oidc:
      client_id_default: <default value>
      shared_secret_default: <default value>
      config_url_default: <default value>
      scopes: "openid+profile"
      client_id_test: <test value>
      shared_secret_test: <test value>
      config_url_test: <test value>
    email_alert:
      - someone@scalecomputing.com
